<nav class="navbar col-md-8" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
    <li data-hook>
      <%= link_to 'My Inventory', main_app.inventory_path %>
    </li>
    <li id="search-bar" data-hook>
    </li>
  </ul>
</nav>
